h1 {
  text-align: center;
  font-size: 100px;
}
.c {
text-align: center;
}
body {
  font-family: sans-serif;
  background-image: url("../images/giphy.gif");
  background-size: 100%;
  background-attachment: fixed;
}
img {
  height: 50%;
  width: 25%;
  border: 3px solid teal;
}
.bear {
  float: inherit;
}
.box {
  margin: 12px;
  border: 3px solid teal;
  padding: 6px;
  background-color: salmon;
}
.digital {

}
