h1 {
  text-align: center;
  font-size: 100px;
  color: darkblue;
}
body {
  font-family: sans-serif;
  background-image: url("../images/giphy.gif");
  background-size: 100%;
  background-attachment: fixed;
}
img {
  height: 250px;
  width: 250px ;
  border: 3px solid teal;
}
.box {
  border: 3px solid teal;
  padding: 6px;
  background-color: grey;
  float: right;
}
.panel-body {
  background-image: url("../images/ocean.jpg");
}
@@media screen and (max-width: 768px) {
  .box {
    width: 400px;
  }
}
